.header-container {
    width: 100%;
    border-bottom: 1px solid rgba(0, 27, 55, 0.1);
}

.container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1140px;
    height: 60px;
    margin: 0 auto;
}

.position-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-position {
    padding: 0 8px;
}

.content-position > a {
    font-size: 1.5rem;
    text-decoration: none;
}

.content-position > button {
    background: #3182f6;
    font-size: 1.4rem;
}