@media screen and (max-width: 700px) {
    .footer-career-content {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }

    .footer-career-content > img {
        width: 90px;
    }

    .footer-career-text > h3 {
        font-size: 2rem;
    }

    .footer-career-text > p {
        font-size: 1.6rem;
    }

    .footer-career-text > button {
        width: 128px;
        height: 32px;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 640px) {
    .footer-site-group-inner {
        margin-top: 0;
        padding: 60px 40px 80px;
    }

    .footer-site-group-list {
        padding: 0;
        flex-direction: column;
    }

    .footer-site-group {
        width: 100%;
        padding-bottom: 40px;
    }
}