.article-view-container {
    max-width: 700px;
    margin: 0 auto 80px auto;
}

.article-view-inner {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 56px);
    margin: 0 auto;
}

.article-view__image {
    width: 100%;
    margin-top: 36px;
    border-radius: 12px;
}

.article-view__title {
    line-height: 1.25;
    margin-top: 20px;
    color: var(--gray800);
    font-size: 4.8rem;
    font-weight: 600;
}

.article-view__author {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.article-view__author-image  {
    width: 48px;
    height: 48px;
    margin-right: 14px;
    border-radius: 50%;
}

.article-view__author-about {
    display: flex;
    flex-direction: column;
}

.article-view__author-profile {
    display: flex;
}

.article-view__author-name,
.article-view__author-position {
    color: var(--gray700);
    font-size: 1.7rem;
    font-weight: 500;
}

.article-view__posted-date {
    line-height: 1.5;
    color: var(--gray500);
    font-size: 1.4rem;
}

.article-view__content {
    line-height: 2;
    margin-top: 54px;
    color: var(--gray800);
    font-size: 1.7rem;
    font-weight: 400;
}

.article-view__reaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 48px;
    margin-top: 54px;
    background: var(--gray100);
    border-radius: 12px;
}

.article-view__reaction-title {
    margin: 16px 0;
    color: var(--gray700);
    font-size: 2.4rem;
    font-weight: 600;
}

.article-view__reaction-sub-title {
    line-height: 1.5;
    margin-bottom: 4px;
    color: var(--gray600);
    font-size: 1.6rem;
    font-weight: 500;
}

.article-view__reaction-choice {
    display: flex;
    margin-top: 16px;
}

.article-view__reaction-choice a {
    font-size: 4.5rem;
}

.article-view__reaction-happy, .article-view__reaction-not-bad {
    margin: 0 12px;
    transition: all 0.15s ease-in-out 0s;
    cursor: pointer;
}

.article-view__link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 16px;
    margin-top: 16px;
    background: var(--blue50);
    color: var(--primary-color);
}